<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E-Commerce Dashboard</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

  </head>
  <body>
    <div id="app">
      <header>
        <div class="header-left">
          <h1>E-Commerce Dashboard</h1>
        </div>
        <div class="header-right" @click="toggleDropdown">
          <i class="fas fa-user user-icon"></i>
          <div class="dropdown" v-if="showDropdown">
            <a href="#settings">Settings</a>
            <a @click="logout">Log Out</a>
          </div>
        </div>
      </header>
      <div class="nav-buttons">
          <button
              class="nav-button"
              :class="{active: currentSection === 'all'}"
              @click="changeSection('all')"
          >
              All
          </button>
        <button
          class="nav-button"
          :class="{active: currentSection === 'products'}"
          @click="changeSection('products')"
        >
          Products
        </button>
        <button
          class="nav-button"
          :class="{active: currentSection === 'orders'}"
          @click="changeSection('orders')"
        >
          Orders
        </button>
        <button
          class="nav-button"
          :class="{active: currentSection === 'insights'}"
          @click="changeSection('insights')"
        >
          Customer Analytics
        </button>
        <button
          class="nav-button"
          :class="{active: currentSection === 'marketing'}"
          @click="changeSection('marketing')"
        >
          Marketing
        </button>
      </div>
      <div class="content">
        <button class="nav-button" @click="sendFillRefreshDataSignalToAll">Fill (not yet) & refresh em all!</button>
        <div
                v-if="currentSection === 'products' || currentSection === 'all'"
                style="border-style: dotted"
        >
            <div v-show="!iFrameProductsLoading">
                <iframe @load="() => iFrameProductsLoading = false" id="i-products" src="http://localhost:3001/products" style="width: 100%; height: 100%"></iframe>
                <div class="fa fa-refresh" @click="labdieniFrameProducts()"></div>
            </div>
            <div v-show="iFrameProductsLoading"><div class="fa fa-spinner fa-spin"></div> Loading Products...</div>
<!--          <iframe src="https://google.com" width="400" height="400"></iframe>-->
        </div>

        <div v-if="currentSection === 'orders' || currentSection === 'all'" style="border-style: dotted; margin-top: 16px;">
            <div v-show="!iFrameOrdersLoading">
                <iframe @load="iFrameOrdersLoading = false" id="i-orders" src="http://localhost:3002/orders" style="width: 100%; height: 100%"></iframe>
                <div class="fa fa-refresh" @click="labdieniFrameOrders()"></div>
            </div>
            <div v-show="iFrameOrdersLoading"><div class="fa fa-spinner fa-spin"></div> Loading Orders...</div>
        </div>

        <div v-if="currentSection === 'insights' || currentSection === 'all'" style="border-style: dotted; margin-top: 16px;">
            <div v-show="!iFrameAnalyticsLoading">
                <iframe @load="iFrameAnalyticsLoading = false" id="i-analytics" src="http://localhost:3003/analytics" style="width: 100%; height: 100%"></iframe>
                <div class="fa fa-refresh" @click="labdieniFrameAnalytics()"></div>
            </div>
            <div v-show="iFrameAnalyticsLoading"><div class="fa fa-spinner fa-spin"></div> Loading Analytics...</div>
        </div>

        <div v-if="currentSection === 'marketing' || currentSection === 'all'" style="border-style: dotted; margin-top: 16px; height:100%">
            <div v-show="!iFrameMarketingLoading">
                <iframe @load="iFrameMarketingLoading = false" id="i-marketing" src="http://localhost:3004/marketing" style="width: 100%; height: 100%"></iframe>
                <div class="fa fa-refresh" @click="labdieniFrameMarketing()"></div>
            </div>
            <div v-show="iFrameMarketingLoading"><div class="fa fa-spinner fa-spin"></div> Loading Marketing...</div>
        </div>
      </div>
    </div>

    <script src="iframe-test.js">
    </script>

  </body>
</html>
